@media screen and (max-width: 1000px) {
  .hire_circle_img img {
    width: 100%;
    max-width: 100vw !important;
    object-fit: contain;
  }
}

@media screen and (max-width: 870px) {
  .hire_dis {
    font-size: 14px !important;
  }

  .work_btn {
    font-size: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color:#e5ea14 ;
    color: #000;
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    padding: 10px 20px !important;
    cursor: pointer;
  }
  .position_grid {
    display: grid;
    grid-template-columns: 45% 45% !important;
    padding: 0px;
    gap: 1.34vw;
    justify-content: space-between;
  }
  .hire_div img {
    width: 50px !important;
    aspect-ratio: 1/1;
    transform: rotate(-45deg);
  }

  .circle1 {
    width: 100px !important;
    height: 100px !important;
  }
  .circle2 {
    width: 100px !important;
    height: 100px !important;
  }
  .circle3 {
    width: 100px !important;
    height: 100px !important;
  }
  .circle4 {
    width: 100px !important;
    height: 100px !important;
  }
  .circle5 {
    width: 100px !important;
    height: 100px !important;
  }

  .work_heading {
    font-size: 30px !important;
  }

  .cordinate_heading {
    font-size: 30px !important;
  }

  .work_dis {
    font-size: 15px !important;
    line-height: 24px !important;
  }

  .tab_heading {
    font-size: 15px !important;
  }

  .hire_heading {
    font-size: 30px !important;
  }

  .map_text {
    font-size: 16px !important;
  }

  .map_dis {
    font-size: 15px !important;
    line-height: 20px !important;
  }

  .perk_grid {
    display: grid;
    grid-template-columns: 50% 50% !important;
    padding: 0px;
    gap: 20px;
    justify-content: space-between;
  }

  .three {
    font-size: 18px !important;
  }

  .perk_text {
    font-size: 15px !important;
  }

  .blob {
    font-size: 12px !important;
    padding: 20px 25px !important;
  }
}

@media screen and (max-width: 750px) {
  .img_hide {
    display: block !important;
  }
  .img_hide2 {
    display: none;
  }
  .hire_circle_img img {
    width: 100%;
    max-width: 50vw !important;
    object-fit: contain;
  }
}

@media screen and (max-width: 730px) {
  .hire_grid {
    display: grid;
    justify-content: space-between !important;
    grid-template-columns: auto !important;
    padding: 0px;
    justify-content: start !important;
    margin-bottom: 3.351vw;
    margin-top: 3vw !important;
  }

  .hire {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 0px 25px 6.702vw 25px;
  }
  .hire_div {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: start !important;
    gap: 20px !important;
    margin-right: 0px !important;
    margin-bottom: -20px !important;
  }
  .co_dis {
    font-size: 14px !important;
    text-align: center !important;
  }
  .hire_div img {
    width: 40px !important;
    aspect-ratio: 1/1;
    transform: rotate(-135deg) !important;
  }

  .circle1 {
    width: 70px !important;
    height: 70px !important;
    transform: rotate(135deg) !important;
  }
  .circle2 {
    width: 70px !important;
    height: 70px !important;
    transform: rotate(135deg) !important;
  }
  .circle3 {
    width: 70px !important;
    height: 70px !important;
    transform: rotate(135deg) !important;
  }
  .circle4 {
    width: 70px !important;
    height: 70px !important;
    transform: rotate(135deg) !important;
  }
  .circle5 {
    width: 70px !important;
    height: 70px !important;
    transform: rotate(135deg) !important;
  }
}

@media screen and (max-width: 568px) {
  input {
    font-size: 12px !important;
  }
  .supflexbox {
    flex-direction: column !important;
    margin-bottom: 0px !important;
  }
  .dn {
    display: none !important;
  }
  .flexbox1 {
    width: 100% !important;
  }
  .flexbox2 {
    width: 100% !important;
  }
  .flexbox {
    margin-bottom: 30px !important;
  }

  select {
    font-size: 12px !important;
  }

  #choose-file-btn {
    font-size: 12px !important;
  }

  #file-name-box {
    font-size: 12px !important;
  }
  .label {
    font-size: 14px !important;
  }

  .work_btn {
    font-size: 12px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #e5ea14;
    color: #000;
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    padding: 10px 15px !important;
    cursor: pointer;
  }

  .hire_dis {
    font-size: 12px !important;
  }
  .position_grid {
    display: grid;
    grid-template-columns: 100% !important;
    padding: 0px;
    gap: 15px !important;
    justify-content: space-between;
  }

  .work_heading {
    font-size: 24px !important;
  }

  .cordinate_heading {
    font-size: 24px !important;
  }

  .work_dis {
    font-size: 13px !important;
    line-height: 18px !important;
    margin: 20px 0px !important;
  }

  .tab_heading {
    font-size: 12px !important;
  }

  .hire_heading {
    font-size: 24px !important;
  }

  .map_text {
    font-size: 14px !important;
  }

  .map_dis {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  .email_error {
    font-size: 12px !important;
    margin-bottom: 15px !important;
  }

  .svgwork {
    width: 12px !important;
  }

  .co_div {
    border-radius: 10px !important;
    padding: 20px 0px !important;
  }

  .perk_grid {
    display: grid;
    grid-template-columns: 100% !important;
    padding: 0px;
    gap: 20px;
    justify-content: space-between;
  }

  .three {
    font-size: 15px !important;
  }

  .perk_text {
    font-size: 12px !important;
  }

  .blob {
    font-size: 10px !important;
    padding: 15px 20px !important;
  }

  .map {
    flex-direction: column !important;
    display: flex;
    gap: 20px !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .map_div img {
    width: 25px !important;
  }
  .map_left {
    width: 100% !important;
    height: 300px !important;
  }
  .map_right {
    width: 100% !important;
  }

  .cordinate_grid {
    display: grid;
    grid-template-columns: 70% !important;
    padding: 0px;
    gap: 20px !important;
    justify-content: center !important;
  }
  .co_img img {
    width: 60px !important;
  }
}
@media screen and (max-width: 450px) {
  .hire_circle_img img {
    width: 100%;
    max-width: 70vw !important;
    object-fit: contain;
  }
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6.702vw 0px;
  position: relative;
  background: url(../images/careerimg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.work_heading {
  font-size: 40px;
  color: white;
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  line-height: 4.021vw;
  text-transform: capitalize;
}

.work_dis {
  width: 80%;
  font-size: 24px;
  color: white;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  margin: 1.34vw 0px 3.351vw 0px;
  text-transform: capitalize;
}

.svgwork {
  width: 15px;
}

.work_btn {
  font-size: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color:#e5ea14;
  color: #000;
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
}

/* coordinate styling */
.cordinate {
  padding: 6.702vw 1.675vw;
}

.cordinate_heading {
  font-size: var(--heading);
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 3.351vw;
}

.cordinate_grid {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  padding: 0px;
  justify-content: space-between;
}

.co_div {
  border-radius: 20px;
  border: 2px solid #058acc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.34vw 0.67vw;
  gap: 1.34vw;
}

.co_dis {
  color: #000;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-transform: capitalize;
}

.co_img img {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 6vw;
}

/* position styling */

.sup_position {
  padding: 6.702vw 1.675vw;
}

.tab_changer {
  display: flex;
  justify-content: center;
  gap: 3%;
  border-bottom: 1px solid #777777;
  margin-bottom: 3.351vw;
}

.selected_tab {
  border-bottom: 2px solid #058acc !important;
}

.tab_heading {
  cursor: pointer;
  color: #000;
  font-family: var(--font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding: 0.67vw 1.34vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.position_grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 0px;
  gap: 1.34vw;
  justify-content: space-between;
}

.pos_grid_div {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(175, 171, 171, 0.25);
  padding: 15px;
  gap: 0.67vw;
  cursor: pointer;
}

.position {
  color: #000;
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  white-space: nowrap;
}

.location {
  color: #000;
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: start;
}

.location img {
  aspect-ratio: 1/1;
  width: 15px;
  object-fit: contain;
  margin-right: 0.67vw;
}

/* how we hire styling */
.hire {
  padding: 0px 25px 6.702vw 25px;
}

.hire_heading {
  font-size: var(--heading);
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #000;
}

.hire_text {
  color: #000;
  text-align: center;
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  margin: 2.01vw 0px;
}

.hire_grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 0px;
  justify-content: center;
  margin-bottom: 3.351vw;
}
.hire_circle_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hire_circle_img img {
  width: 100%;
  max-width: 70vw;
  object-fit: contain;
}
.img_hide {
  display: none;
}

.hire_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -20px;
  gap: 0.67vw;
}
.hire_div img {
  width: 60px;
  aspect-ratio: 1/1;
  transform: rotate(-45deg);
}

.circle1 {
  border-top: 20px solid #0cc4fb;
  border-left: 20px solid #0cc4fb;
  border-bottom: 20px solid #9f9f9f;
  border-right: 20px solid #9f9f9f;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  font-family: var(--font);
  justify-content: center;
  transform: rotate(45deg);
}
.circle2 {
  border-top: 20px solid #9f9f9f;
  border-left: 20px solid #9f9f9f;
  border-bottom: 20px solid #66983e;
  border-right: 20px solid #66983e;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  font-family: var(--font);
  justify-content: center;
  transform: rotate(45deg);
}
.circle3 {
  border-top: 20px solid #f2583b;
  border-left: 20px solid #f2583b;
  border-bottom: 20px solid #9f9f9f;
  border-right: 20px solid #9f9f9f;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  font-family: var(--font);
  justify-content: center;
  transform: rotate(45deg);
}
.circle4 {
  border-top: 20px solid #9f9f9f;
  border-left: 20px solid #9f9f9f;
  border-bottom: 20px solid #ffcd00;
  border-right: 20px solid #ffcd00;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  font-family: var(--font);
  justify-content: center;
  transform: rotate(45deg);
}
.circle5 {
  border-top: 20px solid #951e54;
  border-left: 20px solid #951e54;
  border-bottom: 20px solid #9f9f9f;
  border-right: 20px solid #9f9f9f;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  font-family: var(--font);
  justify-content: center;
  transform: rotate(45deg);
}

.dotted_line {
  border-top: 2px dotted #000;
  width: 3.3512vw;
  height: 1px;
}

.hire_dis {
  color: #000;
  text-align: center;
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  white-space: nowrap;
}

.blob {
  border-radius: 30px;
  background: rgba(255, 218, 49, 0.78);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 1.34vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1.675vw 2.01vw;
  width: 60vw;
}

.sup_blob {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* apply styling */
.apply {
  padding: 0px 1.675vw;
}

.sup_apply {
  padding: 6.702vw 0px;
  background: url(../images/elegent.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.supflexbox {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 5%;
  justify-content: space-between;
  margin-bottom: 12px;
}
.flexbox_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 12px;
}
.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-bottom: 50px;
}
.flexbox1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}
.flexbox2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}

.input {
  color: #000;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 6px;
  background: #fff;
  box-shadow: 2px 1px 16px 0px rgba(0, 0, 0, 0.1);
  border: none;
  height: 40px;
  padding-left: 15px;
}
option {
  font-family: var(--font);
  font-size: 14px;
  color: #000;
}
#period {
  width: 100%;
}
.label {
  font-family: var(--font);
  font-size: 16px;
  color: #000;
}
input,
select,
option:focus {
  outline: none;
  border: none;
}

/* map styling */

.map {
  padding: 0vw 1.675vw 6.702vw 1.675vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.map_left {
  width: 40%;
}

.map_right {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 60%;
  gap: 1.34vw;
}

.map_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.map_div img {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 3.351vw;
}

.map_text {
  color: #058acc;
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  margin: 1.005vw 0px;
}

.map_dis {
  color: #000;
  text-align: center;
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* file upload styling */

#file-input {
  display: none;
}

#choose-file-btn {
  border-radius: 6px;
  background: rgba(217, 217, 217, 0.5);
  box-shadow: 2px 1px 16px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #000;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  border: none;
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#file-name-box {
  color: #000;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 6px;
  background: #fff;
  box-shadow: 2px 1px 16px 0px rgba(0, 0, 0, 0.1);
  border: none;
  width: 70%;
  height: 40px;
  padding-left: 15px;
}

.email_error {
  color: red;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
