 a{
  text-decoration: none  !important;
 }
 footer {
    background: linear-gradient(164.164deg, #058ACB 0%, #003C59 100%);
      color: white;
      padding: 60px 0 20px;
      font-family: 'Poppins', sans-serif;
    }

    footer h5 {
      font-weight: 600;
        font-size: 28px;
      margin-bottom: 20px;
    }

    footer ul {
      list-style: none;
      padding: 0;
    }

    footer ul li {
      margin-bottom: 10px;
    font-size: 18px;
    }

    footer ul li a {
      color: #fff;
      text-decoration: none;
    }

    footer ul li a:hover {
      text-decoration: underline;
    }

    .footer-logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .footer-logo img {
      width: 39%;
    }

    .footer-bottom {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding-top: 20px;
      font-size: 14px;
    }
    .footer-bottom p{
           color: #fff !important;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    }

    .footer-social a {
    color: #0068A9;
    background: #fff;
    padding: 6px 9px;
    border-radius: 5px;
    margin-right: 8px;
    display: inline-block;
    transition: all 0.3s 
ease;
    }

    .footer-social a:hover {
      background: #00aaff;
    }

    .iso-badge {
      width: 110px;
    }

    .payment-icons img {
      width: 100%;
      margin-right: 10px;
      margin-top: 10px;
    }

    @media (max-width: 767px) {
      footer {
        text-align: center;
      }
      .footer-logo {
        justify-content: center;
      }
      .footer-social {
        justify-content: center;
      }
    }