 .hero-section {
   position: relative;
   background: url('/image/hero-image.png') no-repeat center center/cover;
   border-radius: 30px;
   height: 700px;
   margin-top: 70px;
   color: #fff;
   overflow: hidden;
 }

 .hero-content {
   position: absolute;
   top: 50%;
   left: 8%;
   transform: translateY(-50%);
   max-width: 550px;
 }

 .hero-content p {
   color: #fff;
     font-family: 'Montserrat', sans-serif;
 }
 .head-p{
    font-family: 'Montserrat', sans-serif;
        font-size: 24px;
    max-width: 900px;
    margin: auto;
 }

 .hero-content h1 {
   font-weight: 700;
   font-size: 2.5rem;
 }

 .hero-content h1 span {
   color: #3daaf8;
 }

 .watch-btn {
   background-color: #058ACB;
   border: none;
   color: #fff;
   padding: 10px 20px;
   border-radius: 6px;
   margin-top: 15px;
   font-weight: 600;
    font-family: 'Montserrat', sans-serif;
 }

 .bottom-right {
     position: absolute;
    bottom: -2px;
    right: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
 }

 .know-more-box {
   background: #F5F5F5;
   border-radius: 40px;
   padding: 15px 30px;
   display: flex;
   align-items: center;
    justify-content: space-evenly;
   /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1); */
   width: 250px;
 }

 .know-more-box button {
   background: none;
   border: none;
   font-weight: 600;
   color: #000;
 }

 .know-more-box i {
   font-size: 16px;
   color: #000;
 }

 .rating-box {
   background: #F5F5F5;
   border-radius: 40px;
   padding: 14px 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0px;
   /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1); */
   width: 250px;
 }
 .know-more-box:hover {
  background-color: #C2C2C2;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
 }
 .rating-box:hover{
  background-color: #C2C2C2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
 }

 .rating-box img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid #fff;
 }

 .rating-text {
 font-size: 14px;
 font-weight: 600;
    color: #000;
    justify-content: center;
    text-align: center;
    display: flex;
 }

 .logo-marquee {
   overflow: hidden;
   white-space: nowrap;
   width: 100%;
 }

 .company-logos {
   display: inline-flex;
   animation: scroll 20s linear infinite;
 }

 .company-logos {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
 }

 .company-logo {
   width: 100%;
   margin: 0 0px;
   height: 40px;
 }

 @keyframes scroll {
   from {
     transform: translateX(0);
   }

   to {
     transform: translateX(-50%);
   }
 }


 .custom-card {
   background: #fff;
   color: #000;
   transition: all 0.4s ease;
  display: flex;
   height: 100%;
 }

 .custom-card p {
   color: #000;
 }


 .custom-card .icon-box  {
  
    width: 210px;
    height: 60px;
    padding: 9px;
    border-radius: 12px;
 }
.custom-card:hover .icon-box{
      background: #b4dcf0;
}

.custom-card .icon-box img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.color1{
 background: #00FF002E;
}
.color2{
   background: #00B2FF2E;

}
.color3{
   background: #0004FF2E;

}
.color4{
   background: #FF00042E;

}
.color5{
   background: #D0FF002E;

}
.color6{
   background: #DD00FF2E;

}


 /* Hidden arrow initially */
 .hover-arrow {
   position: absolute;
   bottom: 15px;
   right: 15px;
   opacity: 0;
   transform: translateY(10px);
   transition: all 0.3s ease;
   color: #fff;
 }

 /* Hover effect */
 .custom-card:hover {
  background: #3B8DBC !important;
   color: #fff;
 }

 .custom-card:hover .icon-box i {
   background: #fff;
   color: #007bff;
 }

 .custom-card:hover .hover-arrow {
   opacity: 1;
   transform: translateY(0);
 }

 .custom-card:hover p {
   color: #e8e8e8;
 }





 /* ===== Tabs Styling ===== */
 .nav-tabs {
   border: none;
   display: flex;
   justify-content: center;

   margin-bottom: 25px;
 }

 .nav-tabs .nav-item {
   flex: 1;
   text-align: center;
 }

 .nav-tabs .nav-link {
   border: 1px solid #dcdcdc;
   border-radius: 8px;
   padding: 24px 0;
   background-color: #f8f9fa;
   color: #555;
   font-weight: 600;
   height: 100%;
   transition: all 0.3s ease;
   width: 100%;
 }

 .nav-tabs .nav-link:hover {
   background-color: #0068A9;
   color : #fff !important;
   
 }
.nav-tabs .nav-link:hover img {
    filter: brightness(0) invert(1) !important;
}
 .nav-tabs .nav-link.active {
   background-color: #0068A9;
   color: #fff;
   border-color: #0068A9;
   font-weight: 700;
 }

 .nav-tabs .nav-link.active img {
   filter: brightness(0) invert(1) !important;
 }

 .nav-tabs .nav-link img {
   height: 30px;
   object-fit: contain;
 }

 /* ===== Card Styling ===== */
 .service-card {
   border: 1px solid #e0e0e0;
   border-radius: 8px;
   background: #fff;
   padding: 20px;
   transition: all 0.3s ease;
   height: 100%;
 }

 .service-card:hover {
   transform: translateY(-5px);
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
   background-color: #0068A9;
   color: #fff;
 }
.service-card h5{
  margin-left: 10px;
}

 .service-icon {
      width: 70px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
 }
 .service-icon img{
  height: 100%;
  width: 100%;
 }
.service-card:hover .service-icon {
  background-color: #fff !important; /* makes the icon white or opposite color */
}

 .service-card p {
   color: #000;
 }
.service-card:hover p{
    color: #fff;
}
 .icon-ai {
   background-color: #f8b4b4;
 }

 .icon-apps {
   background-color: #c7b4f8;
 }

 .icon-cloud {
   background-color: #b4e1f8;
 }

 .icon-data {
   background-color: #eaf8b4;
   color: #333;
 }

 .icon-security {
   background-color: #b4f8ce;
   color: #333;
 }

 .icon-software {
   background-color: #f8d3b4;
   color: #333;
 }

 h5 {
   font-weight: 700;
   margin-bottom: 10px;
 }

 p {
   color: #000;
   margin-bottom: 0;
 }

 /* Remove bullets */
 .nav-tabs,
 .nav-tabs li {
   list-style: none !important;
 }

 .technical-card {
   background: #F8F8F8;
   border-radius: 8px;
      padding: 20px 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   transition: all 0.3s ease;
 }

 .technical-card:hover {
   background-color: #EEF2FF;
 }

 .technical-icon {
   width: 30px;
   height: 30px;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
 }

 .technical-title {
   font-weight: 600;
   margin-left: 25px;
   font-size: 1rem;
 }

 .technical-details {
   background: #F8F8F8;
   padding: 20px;
   border-top: 1px solid #ddd;
 }

 .technical-details ul {
   list-style: none;
   padding-left: 0;
   columns: 2;
   column-gap: 40px;
 }

 .technical-details li {
   margin-bottom: 8px;
   color: #555;
 }

 @media (max-width: 768px) {
   .technical-details ul {
     columns: 1;
   }
 }

 .accordion-button::after {
   display: none;
 }


 /* Section Headings */




 /* Info Cards */
 .info-card {
   background: #fff;
   border: 1px solid #e0e0e0;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
   padding: 25px 15px;
   min-height: 300px;
   text-align: center;
   transition: all 0.3s ease;
 }

 .info-card:hover {
   transform: translateY(-5px);
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
 }

 .info-card i {
   font-size: 35px;
   color: #009FE3;
   margin-bottom: 15px;
 }

 .info-card h5 {
   font-weight: 600;
   margin-bottom: 8px;
   color: #333;
   margin-top: 20px;
 }

 .info-card p {
   font-size: 0.9rem;
   color: #666;
   margin-bottom: 0;
 }

 /* Awards Section */
 .awards-section {
   background: #fff;
   padding: 20px 0;
 }

 .award-card {
   background: #fff;
   border: 1px solid #000;
   border-radius: 10px;
   /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
   text-align: center;
   width: calc(20% - 16px);
   padding: 25px 20px;
   transition: all 0.3s ease;
 }

 .award-card:hover {
   transform: translateY(-5px);
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
 }

 .award-card img {
   width: 100%;
   object-fit: contain;
   margin-bottom: 15px;
 }

 .award-card h6 {
   font-weight: 600;
   color: #007bff;
   margin-bottom: 5px;
 }

 .award-card p {
   color: #666;
   font-size: 0.9rem;
 }

 .highlight {
   color: #009FE3;
 }

 .bgnew-section {

   overflow: hidden;
   max-width: 1140px;
   margin: auto;
   background: #000;
 }



 .bgnew-section .content-overlay {
   position: relative;
   z-index: 2;
 }

 /* .bgnew-section .text-box {
   max-width: 700px;
 } */

 .testimonial-card {
   background: #FBFBFB;
   border: none;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 25px;
   height: 100%;
   display: flex;
   flex-direction: column;
 }

 .testimonial-card small{
  color: #575757;
  font-weight: 600;
  font-size:18px ;
  font-family: 'Montserrat', sans-serif;
 }
 .testimonial-card .quote {
   margin-bottom: 20px;
 }
  .testimonial-card .quote img {
  height: auto;
  width: auto;
 }


 .testimonial-card h6 {
font-weight: 400;
    margin-top: 15px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
 }
 .testimonial-card img{
      object-fit: contain;
   
    height: 30px;
 }

 .testimonial-card p {
   font-size: 14px;
   color: #555;
 }

 .stars {
   color: #f9c10a;
   margin-top: 10px;
 }

 .contact-section {
   background: #fff;
   border-radius: 15px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   padding: 30px;
 }
 .contact-p{
     font-size: 22px;
 }
#staffing-tab.active, #marketing-tab.active, #tech-tab.active{
    color: #fff !important;
}
 .presence-flags {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
 }
#address-section{
          font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    max-width: 400px;
}
 .flag-item {
   display: flex;
   align-items: center;
   gap: 8px;
   cursor: pointer;
   padding: 6px 10px;
   border-radius: 10px;
   transition: all 0.3s ease;
 }

 .flag-item img {
   width: 35px;
   height: 35px;
   object-fit: cover;
   border-radius: 50%;
   transition: transform 0.2s ease;
 }

 .flag-item:hover {
   transform: translateY(-2px);
 }

 .flag-item.active {

 border: 1px solid #000;
 }

 .flag-item span {
   color: #1f55ff;
   font-weight: 600;
   display: none;
 }

 .flag-item.active span {
   color: #1f55ff;
   font-weight: 600;
   display: block;
 }

 .highlight-blue {
   color: #058ACB;
 }

 .btn-connect {
   background-color: #058ACB;
   color: white;
   width: 100%;
   padding: 15px;
   border-radius: 8px;
 }

 .btn-connect:hover {
   background-color: #058ACB;
   color: white;
 }

 .error-message {
   color: red;
   font-size: 13px;
   margin-top: 5px;
   display: none;
 }

 .iti {
   width: 100%;
 }

 @media (max-width: 768px) {
   .hero-section {
   position: relative;
   background: url('/image/hero-image-mobile.png') no-repeat center center/cover;
   border-radius: 20px;
   height: 600px;
   margin-top: 20px;
   color: #fff;
   overflow: hidden;
 }
 .technical-title {
   
    font-size: 0.8rem;
}
.info-card {
  
    min-height: 260px;
}
 

   .hero-content {
     left: 5%;
     width: 90%;
     top: 45%;
   }

   .bottom-right {
           width: 100%;
        bottom: 50px;
        justify-content: center;
        right: 0px;
       
        flex-direction: row;
   }
   .rating-box, .know-more-box{
    width: 160px;
    font-size: 12px;
    padding: 7px 22px;
   }
.rating-text{
  display: none;
}
.head-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    max-width: 900px;
    margin: auto;
}
   .award-card {
     width: calc(48% - 16px);
   }
   .heading1{
    display: flex;
    flex-direction: column !important;
   }
 }