* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body {
    background-color: #fff;
    
}

.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


.card-container {
  
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    gap: 20px;
    padding: 20px;
}

/* Card Styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
     width: 300px;
    height: 480px;
    background: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    overflow: hidden;
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.3s 
ease;
}

.card:hover {
  transform: translateY(-5px);
}



/* Left-side Text Section */
.card-text {
  flex-grow: 1;
  padding: 15px 20px;
}


.card-text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #000;
}


 
.card-text p {
  font-size: 14px;
  color: #555;
  text-align: start;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* show max 3 lines */
  -webkit-box-orient: vertical;
}

/* Center Image Section */
.card-image {
  width: 100%;
      height: 300px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures all images same height/width ratio */
}


/* Right-side Buttons Section */



.icon {
    font-size: 1.2em;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        flex-direction: column !important;
        height: auto;
    }
    .card-container {
          justify-items: center;
  display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;

    gap: 20px;
    padding: 20px;
}

    .card-text,
   
    .card-buttons {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .card-buttons {
        flex-direction: row;
        justify-content: center;
    }
}
#had{
  
font-size: 1rem;
    color: #141414;
    font-weight: 400;
    line-height: 1.67;
text-align: left;
color: #000;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
#had-down{
   
font-size: 19px;
font-weight: 400;
line-height: 23.2px;
text-align: left;
color: #fff;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 15px;

}
/* Button container */
.card-buttons {
    place-items: end;
    display: flex;
    gap: 16px;
    margin-bottom: 26px;
  justify-content: center;
    margin-right: 0px;
}
/* General button styles */
.card-buttons button {
  display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px;
    font-size: 16px;
    justify-content: center;
    border-radius: 18px;
    border: none;
    width: 100%;    /* Ensure the button width fits the content */
}

/* Styles for the visit button */
#visit {
 background-color: white;
    color: #058ACB;
    font-size: 18px;
    border: 2px solid;
}

/* Styles for the view case study button */
#view {
   background-color: transparent;
    border: 2px solid #000;
    color: #000;
   
}

/* Icon inside the button */
#visit img {
    height: 23px;             /* Set the icon size */
    width: auto;              /* Maintain the aspect ratio of the icon */
}
/* Remove underline from links */
.card-buttons a {
    width: 100%;
    padding: 0px 10px;
}

   /* Custom styles for tab spacing and border */
    .nav-tabs .nav-item {
      margin-right: 0px;
      /* Adds space between tabs */
    }
    #myTab{
       max-width: 965px;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    }
    .nav-tabs {
  width: 100% !important;
}

.nav-tabs .nav-item {
  width: 50%;
}

.nav-tabs .nav-link {
  width: 100%;
  text-align: center;
}


    .nav-link {
      border: none;
      color: black;
      /* Removes border from all tabs initially */
    }
    
    .nav-button1,.nav-button2{
           background: #EBEBEB !important;
             border-radius: 5px;
    width: 100%;
    padding: 20px;
    
 
    }
    .nav-button1.active{
        background: #3B8DBC !important;
            color: #fff !important;
             
    }
     .nav-button2.active{
        background: #3B8DBC !important;
            color: #fff !important;
    }
      .nav-button1 img,
.nav-button2 img {
 width: 30px;
 margin-right: 10px;
}
   .nav-button1.active img,
.nav-button2.active img {
  filter: brightness(0) invert(1);
  transition: 0.3s ease;
}


    .nav-link.active {
      border: none !important;
     border-radius: 5px;
    width: 100%;
    }

    .nav-tabs .nav-link {
      background-color: transparent;
    }

    .nav-tabs {
      border-bottom: none;
    }

    .case-study-card {
    border-radius: 8px;
    height: 380px;
    margin: 15px 0;
    max-width: 965px;
    margin: 16px auto;
    display: flex;
    color: #fff;

    }

    .case-study-card:hover {

      color: #fff !important;


    }

    .case-study-card .left-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #000;
      padding: 20px;

    }
.case-study-card .right-content{
    background: #70D0FF26;
}
    .case-study-card .right-content img {
      width: 100%;
      border-radius: 8px;
      height: 100%;
      object-fit: contain
    }

    .case-study-card h5 {
    font-size: 28px;
    font-weight: 600;
    color: #058ACB;
    }

    .case-study-card p {
      font-size: 1rem;
      margin: 10px 0;
    }

    .btn-custom {
      background-color: transparent;
      color: #000;
      border-radius: 20px;
      font-weight: bold;
      padding: 8px 16px;
      border: 2px solid #fff;
      margin-top: 10px;
      text-transform: uppercase;
    }

    .store-buttons {
      display: flex;
      /* gap: 10px; */
      /*justify-content: space-between;*/
      margin-top: 10px;
    }

    .store-buttons a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 5px;


    }

    .gap-3 {
      gap: 60px;
      font-size: 25px;

    }

    .store-buttons img {
      width: 100px;
    }

    .store-buttons a i {
      margin-right: 5px;
    }

    /* Custom background colors for each card */


    a {
      text-decoration: none;
    }

    a:hover {
      color: #000;
      text-decoration: none;
    }

    .case-study-card a:hover {
      color: #000;
    }

    .btn:hover {
      color: black;
      background-color: transparent;
      border-color: #fff;
    }

    .active:after {
      content: none;
      /* No content by default */
    }

    @media (max-width: 767px) {
      .case-study-card {

        height: auto;

      }

      .store-buttons img {
        width: 100%;
      }
       .nav-button1,.nav-button2{
    font-size: 16px;
    padding: 9px;
    }
       #myTab{
     padding: 0px 10px;
    }
    
    }
      @media (max-width: 450px) {
    .card-buttons button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px;
    justify-content: center;
    font-size: 16px;
    border-radius: 18px;
    border: none;
    width: 100%;
}
.card-buttons a {
    text-decoration: none;
    width: 100%;
    padding: 0px;
}
   .nav-button1 img,
.nav-button2 img {
 width: 24px;

}
}