.btnWeb{
  display:flex;
  gap:8px;
  align-items: center;
}
@media screen and (max-width: 870px) {
  .current_tab {
    font-size: 18px !important;
  }

  .read-more-btn,
  .show-less-btn {
    font-size: 14px !important;
    padding: 10px 15px !important;
  }
  .stand_heading {
    font-size: 24px;
    margin-bottom: 30px !important;
  }
  .tab_heading{
    margin-top: 0;
  }
  .tab_text {
    font-size: 12px !important;
    line-height: 18px !important;
    margin: 5px 0 !important;
  }
}
.linkToWeb{
display: flex;
align-items: center;
}
.linkToWeb a{
  border:1px solid #058acc;
  border-radius: 4px;
  padding: 6px;
  height: 46px;
}
@media screen and (max-width: 991px) {
  .current_tab {
    font-size: 18px !important;
  }

  .show-more-less {
    padding: 40px 25px 40px 25px !important;
  }
  .stand_out_content {
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-bottom: 150px !important;
  }
  .show-moreee {
    display: flex !important;
    flex-direction: column !important;
    align-items: end !important;
    gap: 150px !important;
  }

  .overlay-content {
    display: flex;
  }

  .tab_content {
    top: 2% !important;
    left: 6% !important;
    width: 90% !important;
  }
  .tab_content_right {
    top: 2% !important;
    left: 6% !important;
    width: 90% !important;
  }

  .tab_img {
    position: absolute;
    top: 70% !important;
    right: -5% !important;
    color: #fff;
    width: 100% !important;
  }
  .tab_img_right {
    position: absolute;
    top: 70% !important;
    right: -5% !important;
    color: #fff;
    width: 100% !important;
  }

  .tab_one {
    position: relative;
    max-width: 95vw !important;
    margin-top: 6.702vw;
    display: flex;
    justify-content: center !important;
  }

  .tab_one_right {
    position: relative;
    max-width: 95vw !important;
    margin-top: 6.702vw;
    display: flex;
    justify-content: center !important;
  }

  .tab_heading {
    font-size: 18px !important;
    margin-top: 10px !important;
  }
  .readMoreBtn {
    font-size: 12px !important;
    margin-bottom: 15px !important;
  }

  .tab_btn2 {
    font-size: 12px !important;
    padding: 5px 10px !important;
  }

  .bg_img {
    border-radius: 10px !important;
    width: 90vw !important;
    height: 250px !important;
  }

  .bg_img_right {
    display: flex;
    justify-content: center;
    background: #f3faff;
    border-radius: 10px !important;
    width: 90vw !important;
    height: 250px !important;
    border: 1px solid #058acc;
  }
  .tab_img img {
    object-fit: contain;
    width: 300px !important;
    height: 200px !important;
    margin-top: 40px !important;
  }
  .tab_img_right img {
    object-fit: contain;
    width: 300px !important;
    height: 200px !important;
    margin-top: 40px !important;
  }
}

.home_left {
  margin-top: 0;
}
.home_left h1 {
  color: #252525;
  font-family: var(--font);
  font-size: var(--heading);
  font-style: normal;
  font-weight: 700;
  line-height: var(--linehite);
  text-transform: capitalize;
}
.home_left h1 span {
  color: #058acc;
}
.tribe_discription {
  color: #000;
  margin: 0;
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: var(--dislne);
  text-transform: capitalize;
}
/* stand_out styling */

.stand_out {
  padding: 4.691vw 1.675vw 0px 1.675vw;
}

.stand_heading {
  color: #252525;
  text-align: center;
  font-family: var(--font);
  text-transform: capitalize;
  font-size: var(--heading);
  font-style: normal;
  font-weight: 700;
  line-height: var(--linehite);
  margin-bottom: 2vw;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.current_tab {
  color: #000;
  text-align: center;
  font-family: var(--font);
  font-size:18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.udrline_tab {
  text-decoration: underline !important;
  text-decoration-color: #058acc !important;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  color: #01092d !important;
  font-weight: 700 !important;
}

/* stand out content styling */

.stand_out_content {
  padding: 0px;
}

.tab_one {
  position: relative;
  max-width: 100vw;
  margin-top: 6.702vw;
  display: flex;
  justify-content: start;
}

.tab_one_right {
  position: relative;
  max-width: 100vw;
  margin-top: 6.702vw;
  display: flex;
  justify-content: end;
}

.bg_img {
  display: flex;
  justify-content: start;
  background: #f3faff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 60vw;
  height: 30vw;
  border: 1px solid #058acc;
}

.bg_img_right {
  display: flex;
  justify-content: end;
  background: #f3faff;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 60vw;
  height: 30vw;
  border: 1px solid #058acc;
}

.tab_one_img {
  width: 60vw;
  height: 30vw;
}

.tab_one_img_right {
  width: 60vw;
  height: 29vw;
}

.overlay-content {
  display: flex;
}

.tab_content {
  position: absolute;
  top: 5%;
  left: 10%;
  text-align: left;
  color: #fff;
  width: 30%;
}

.tab_img {
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: center;
  color: #fff;
  width: 50%;
}

.tab_img img {
  object-fit: contain;
  width: 40vw;
  height: 27vw;
}

.tab_content_right {
  position: absolute;
  top: 5%;
  right: 10%;
  text-align: left;
  color: #fff;
  width: 30%;
}

.tab_img_right {
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: center;
  color: #fff;
  width: 50%;
  /* outline: 1px solid hotpink; */
}

.tab_img_right img {
  object-fit: contain;
  width: 40vw;
  height: 27vw;
}

.tab_btn2 {
  color: #fff;
  font-family: var(--font);
  font-size: 1.34vw;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 6px;
  padding: 1.005vw 1.34vw;
  border: none;
  cursor: pointer;
  background: linear-gradient(0deg, #058acc 0%, #058acc 100%),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.tab_text {
  color: #000;
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.01vw;
  margin: 1.34vw 0px;
  text-transform: capitalize;
}

.hidden-content {
  display: none;
}

.readMoreBtn {
  cursor: pointer;
  color: #058acc;
  text-align: justify;
  font-family: var(--font);
  font-size: 1.34vw;
  font-style: normal;
  font-weight: 500;
  line-height:10px;
  text-transform: capitalize;
  margin-bottom: 1.34vw;
}

.tab_heading {
  margin-top: 0.67vw;
  color: #058acc;
  font-family: var(--font);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

/* show more show less */

.show-more-less {
  padding: 3.351vw 1.675vw 4.691vw 1.675vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-more {
  display: none;
}

.read-more-btn,
.show-less-btn {
  cursor: pointer;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid #058acc;
  background: #058acc;
  color: #fff;
  text-align: center;
  font-family: var(--font);
  font-size: 1.34vw;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  padding: 1.005vw 5vw;
}
@media screen and (max-width: 568px) {
  .tribe_discription {
    text-align: center;
  }
  .home_left h1{
    text-align: center
  }
}

@media screen and (max-width: 991px) {
.link_button {
  font-size: 12px !important;
  padding: 5px 10px !important;
}
}
.link_button {
  color: #fff;
  font-family: var(--font);
  font-size: 1.34vw;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 6px;
  padding: 1.005vw 1.34vw;
  border: none;
  cursor: pointer;
  background: linear-gradient(0deg, #058acc 0%, #058acc 100%),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}

