@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,700;1,300;1,500;1,600&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #e1faff;
    --font: 'Montserrat', sans-serif;
    --heading:28px;
    --linehite: 40px;
    --dis: 16px;
    --disline: 24px; 
    color: #daf7ff;
    color: #252525;
    color: #000000;
}

.font_rbt {
    font-family: var(--font);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    :root {
        --dis: 14px !important;
    }
}

@media screen and (max-width: 870px) {
    :root {
        --heading: 24px !important;
    }
}

@media screen and (max-width: 568px) {
    .max-width {
        max-width: 90vw !important;
    }
    :root {
        --heading: 24px !important;
        --linehite: 30px !important;
        --dis: 12px !important;
        --disline: 20px !important;
    }
}

.max-width {
    max-width: 80vw;
}

.max-width-footer {
    max-width: 80vw;
}

.max-width2 {
    max-width: 100vw;
}

.max-width3 {
    max-width: 95vw;
}

.m-auto {
    margin: auto;
}

.outline1 {
    outline: 2px solid hotpink;
}

.outline2 {
    outline: 2px solid rgb(0, 149, 255);
}

.outline3 {
    outline: 2px solid rgb(95, 255, 47);
}

.mrg_left {
    margin-left: 10px;
}

/* popup styling */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.5s;
    transform: scale(0);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.popup:nth-child(2) {
    transition-delay: 0ms;
}

.popup:nth-child(3) {
    transition-delay: 50ms;
}

.popup:nth-child(4) {
    transition-delay: 100ms;
}

.popup:nth-child(5) {
    transition-delay: 150ms;
}

.popup:nth-child(6) {
    transition-delay: 200ms;
}

.popup:nth-child(7) {
    transition-delay: 250ms;
}

/* ind_popup styling */
.ind_hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
    transform: scale(0);
}

.ind_show {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
}

@media(prefers-reduced-motion) {
    .ind_hidden {
        transition: none;
    }
}

.ind_popup:nth-child(2) {
    transition-delay: 0ms;
}

.ind_popup:nth-child(3) {
    transition-delay: 150ms;
}

.ind_popup:nth-child(4) {
    transition-delay: 300ms;
}

.ind_popup:nth-child(5) {
    transition-delay: 450ms;
}

.ind_popup:nth-child(6) {
    transition-delay: 600ms;
}

.ind_popup:nth-child(7) {
    transition-delay: 750ms;
}

.ind_popup:nth-child(8) {
    transition-delay: 900ms;
}
