
.thankyou-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 20px 25px;
   
}
.thankyoulogomain{
    width: 70%;
    object-fit: contain;
}
.thankyoulogo{
    width: 500px;
    object-fit: contain;
}
@media screen and (max-width: 870px) {
    .thankyou-wrapper .pp {
        font-size: 20px !important;
    }
    .thankyoulogomain{
        width: 500px !important;
        object-fit: contain;
    }
    .thankyoulogo{
        width: 70%;
        object-fit: contain;
    }
    .thankyou-wrapper a {
        font-size: 22px !important;
        padding: 15px 20px   !important;
    }
}
@media screen and (max-width: 568px) {
    .thankyou-wrapper .pp {
        font-size: 18px !important;
    }
    .thankyoulogomain{
        width: 300px !important;
        object-fit: contain;
    }
    .thankyoulogo{
        width: 70%;
        object-fit: contain;
    }
    .thankyou-wrapper a {
        font-size: 18px !important;
        padding: 10px 15px   !important;
    }
}


.thankyou-wrapper .pp {
    font: 26px var(--font);
    text-align: center;
    line-height: 35px;
    color: #333333;
    padding: 15px;
}

.thankyou-wrapper a {
    font: 26px var(--font);
    text-align: center;
    color: #ffffff;
    display: block;
    text-decoration: none;
    width: 250px;
    background: #058ACC;
    margin: 10px auto 0px;
    padding: 15px 20px;
    border-radius: 10px;
}





